

body{

  background-color: black;

  font-size: 16px;

  margin: 0;
  padding: 0;
  border: 0;
}


.box{

  display: box;
  width: 1800px;
  height: 960px;
  background-color: black;

  padding: 30px 30px;


  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  color: white;
  font-kerning: normal;

  font-size: 16px;

  
  /*font-family: Arial, sans-serif;*/
/*  font-size: 2rem;
  color: white;*/

  margin-top: 4rem;
  margin-bottom: 25px;

}



.container{
  margin-right: auto;
  margin-left: auto;
  width: 100%;

}  


nav{

  display: inline-flex;
  flex-direction: row;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 0.5px;

} 


.navbar-header{
  width: 100%;
  margin-top: 15px;
  text-align: center;
}

li{
  display: inline;
  color: white;
  text-align: center;

}

 a{
  text-decoration: none;
  color: white;
  }

a:hover{
  text-decoration: none;
  color: #D92688;
}

a:visited {
  text-decoration: none;
} 


p{
  font-size: 2em;
}


h2{
  text-transform: uppercase;
  font-size: 7rem;
  font-weight: 400;
}

h3{
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
}


img{

  width: 100%;

}

.caja{
  
 /* background-color: rgba(255,255,255,0.14);
  border: 1px solid white;*/
  
  color: white;
  margin-left: 0;

}

/*//////////////////////////////*/



/*Step-1*/

.intro{

  position: relative;
  margin-top: 0px;

}


.layout-intro{

  width: 100%;
  height: 100%;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}


.intro-content{
  margin:0 auto;
  margin-top: 13rem;

  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: center;
}


.introMiles{

  width:26em;
  height: 100%;
  margin-left: 8%;
 /* margin-top: 4%;*/
  
}


.introMiles img {
  /*padding-top: 3%;*/
  max-width: 100%;

}


.info-container{

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;


}


.info-container h1{
  margin-top: -2rem;
  font-weight: 500;
  font-size: 13em;
  line-height: 1.1;
}



.description-1{

  font-size: 0.85em;
  margin-top: 2em;
 

}


.boxes-intro{

  width: 100%;
  height:50%;


  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  
  margin-top: 6rem; 
  position: absolute;
  z-index: 0;  
  right: 0px;

}

.boxes-left{
  width: 42%;
  height: 300px;

  margin-left: 0;
  margin-top: 25%;
  margin-right: 12rem;

}



.boxes-right{

  width: 52.5%;
  height: 350px;

  margin-right: -3rem;
  margin-top: 12.5em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  
}


#box-1, #box-2, #box-3{

  width: 50%;
  height: 10%;

  margin-bottom: 25px;
}


#box-1{

  background-color: rgba(217,211,49, 0.97);
}

#box-2{

  background-color: #D92688;
}

#box-3{

  background-color: #00AEEF;
}


/*//////////////////////////////*/

/*Step-2*/



.transition-1{
  position: relative;
  margin-top: 0px;
}


.layout-t1{

  width: 100%;
  height: 100%;

  margin-top: -10px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  z-index: 1;

}



.content-transition-1{

  margin:0 auto;
  margin-top: -12rem;

  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;

}


.all-d-t1{

  position: relative;

}



.info-content-t-1{

  margin: 0 auto;
  /*margin-top: 5em;*/

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.transition-1-txt{

  margin:0 auto;
  margin-top: 0.25em;

  width: 100%;
  height: 91%;

}

.transition-1-txt p{

  font-weight: 100;
  font-size: 3.2em;
  line-height: 1.6;
  padding-top: 0em;
  padding-bottom: 0.2em;

}


.transition-1-quote{

  margin:0 auto;
  width: 100%;


}


.transition-1-quote p{
  text-align: right;
  font-size: 2.2em;
}




#box-4{

  width: 0px;
  height: 82%;
  top: 0;
  left:0;
  position: absolute;
  z-index: 0;

  background-color: #D92688;

}


/*//////////////////////////////*/

/*Step-3*/

.timeline{

  position: relative;
  margin-top: 0px;

}


.layout-intro-timeline{

  width: 100%;
  height: 100%;

  margin-top: -10px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  z-index: 1;

}


.content-intro-timeline{

  margin:0 auto;
  margin-top: 6rem;

  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: center;

}

.headline-2{

  margin-top: 8rem;
  margin-left: -15rem;
  /*height: 50rem;*/
  width: 100%;

}


.headline-2 h2{

  font-size: 4.5em;

}


.timeline-chart{

  display: inline-flex;
  flex-direction: row;

  border: 0.5px solid rgba(255,255,255,0.5);

  margin-left: -15rem;
  margin-top:3%;
  margin-bottom: 1%; 

  height: 30rem;
  width: 100%;

}


.period{
  background-color: rgba(255,255,255,0.14);
  /*width: 200px;*/

  display: flex;
  flex-direction: row;

  margin-right: 0.5%;
  margin-left: 0.5%;
}


.pre-jazz{
  flex-grow: 3;
  margin-left: 0px;
}

.first-d{
  flex-grow: 3;
  /*background-color: rgba(255,255,255,0.28);*/
}

.second-d{
  flex-grow: 3;
}

.third-d{
  flex-grow: 3;
  /*background-color: rgba(255,255,255,0.28);*/
}

.fourth-d{
  flex-grow: 3;
}

.fifth-d{
  flex-grow: 2;
  /*background-color: rgba(255,255,255,0.28);*/
  margin-right: 0px;
}


.score{
  width: 100px;
  height: 0px;
  background-color: white;

  margin-left: 30%;

}

.pre-jazz .score, .first-d .score, .second-d .score, .third-d .score, .fourth-d .score, .fifth-d .score{
 
  align-self: flex-end;
  justify-content: center;

}


.dates{

  width: 100%;
  margin-left: -15rem;
  margin-top: 1rem;

  display: flex;
  flex-direction:row;
  justify-content: space-between; 

  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.25rem;

}


.d-1, .d-2, .d-3, .d-4, .d-5, .d-6, .d-7{

  padding-left: 0px;
  text-align: center;
}


.d-1{
  right: 1.5%;
}

.d-2{
  right: 2.5%;
}

.d-3{
  right: 1%;
}

.d-4{
  left: 0.5%;
}

.d-5{
  left: 2%;
}

.d-6{
  left: 3.75%;
}

.d-7{
  left: 3%;
}

.description-timeline{
  margin-left: -16rem;
  margin-top: 6rem;

  display: flex;
  flex-direction:row;
  justify-content: flex-start; 

}

.c-des{

  margin-right:7rem;
  width: 42.5%;
}


.description-timeline p{

  font-size: 1.7em;

}


#box-5{

  margin-top: 14rem;
  margin-left: 55%;

  height: 3rem;
  width: 0px;
 
  background-color: #00AEEF;

  align-items: flex-start;
  position: absolute;
  z-index: 1;

}




/*//////////////////////////////*/

/*Step-4*/


.decade-1{

  position: relative;
  margin-top: 0px;

}


.layout-decade-1{

  width: 100%;
  height: 100%;

  margin-top: -10px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  z-index: 1;

}

.content-decade-1{

  margin:0 auto;
  margin-top: 6rem;

  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;


}

.decade-title{

  margin:0 auto;
  height: 100%;
  width: 70%;

}


.decade-title h2{

  text-align: center;
  padding-left: 2%;
  padding-right: 2%;

}

.decade-title h3{

  text-align: center;

}


.bkg-animate-step4{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#box-6{

  width: 0%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: -2.5%;

  position: absolute;
  z-index: 0;

  background-color: #00AEEF;

}

#box-7{

  width: 50%;
  height: 0%;
  margin-top: 7.5rem;
  margin-left: 21.5%;

  position: absolute;
  z-index: 0;
  background-color: #00CD9D;
}


#box-8{

  width: 0%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: 74%;

  position: absolute;
  z-index: 0;

  background-color: #00AEEF;

}

/*//////////////////////////////*/

/*Step-5*/


.decade-1A{

  position: relative;
  margin-top: 0px;

}


.layout-decade-1A{

  width: 100%;
  height: 100%;

  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: absolute;
  z-index: 1;

}


.content-decade-1A{

  margin:0 auto;
  margin-top: 13em;


  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}


.timeline-p1A{

  margin-left: 0;
  margin-top: -9em;

  width: 75%;
  height: 91rem;

  background-color: rgba(255,255,255,0.08);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.p1A{
 
  width: 100%;
  height: 14rem;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding-top: 2rem;
  padding:0 auto;

}


.y-1944{
  flex-grow: 2;
  padding-top: 4rem;
}

.y-1945{
  flex-grow: 1;
  background-color: rgba(255,255,255,0.15);
}

.y-1946{
  flex-grow: 1;
}

.y-1947{
  flex-grow: 1;
  background-color: rgba(255,255,255,0.15);
}

.y-1948{
  flex-grow: 1;
  margin-bottom: 0;
}


.all-d1A{

  position: relative;

}

.halftone-bkg{

  position: absolute;
  z-index: 0;  
  background-image: url("img/halftone-2.jpg");
  transform: scaleY(-1);
  opacity: 0.25;

  background-color: blue;

  background-blend-mode: multiply;

  width: 87.5%;
  height: 96%;

  left: 0;
  margin-top: 2rem;
  margin-left: 22rem;

}



.info-content-d1A{

  margin: 0 auto;
  margin-top: -11rem;

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;


}



.pic-1A{

  margin: 0 auto;

  width: 110rem;
  height: 30rem;
 

}



.decade1A-title{

  margin: 0 auto;
  margin-top: 3rem; 

  background-color: black;
  width: 110rem;

}


.description-1A{

  margin: 0 auto;
  margin-top: 3rem;

  width: 71.825%;

}


.description-1A p{

  margin: 0 auto;  
  font-size: 2.125rem;
  font-weight: 300;
  padding-bottom: 1rem;
  background-color: black;

}


/*//////////////////////////////*/

/*Step-6*/


.transition-1A{

  position: relative;
  margin-top: 0px;

}

.layout-transition-1A{

  width: 100%;
  height: 100%;
  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}

.content-transition-1A{

  margin:0 auto;
  margin-top: 2em;


  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}

.timeline-t1A{

  margin-left: 0em;
  margin-top: 0em;

  width: 75%;
  height: 94rem;

  background-color: rgba(255,255,255,0.08);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.all-d-t1A{

  position: relative;

}


.info-content-t-1A{

  margin: 0 auto;
  margin-top: 3rem;

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.t-illustration{

  margin: 0 auto;
  margin-left: -0.2em;

  width: 28%;
  height: 100%;

}


.t-illustration img{
  align-self: flex-start;
  width: 36rem;

  margin-top: -10%;

}

.transition-2-txt{

  margin-top: 0.5em;
  margin-left: -2.5em;

  width: 100%;
  height: 95%;

}


.transition-2-txt p{

  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.8;
  padding-top: 0.6em;
  padding-bottom: 0.2em;

}




.animate-bkg-slide6{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

}


#box-9{
  align-self: flex-start;

  width: 100%;
  height: 0%;

  margin-top: 0em;
  margin-left: 1rem;

  position: absolute;
  z-index: 0;

  background-color: #0095da;

}

#box-10{

  align-self: flex-end;

  width: 100%;
  height: 0%;

  margin-top: 53em;
  margin-left: 4rem;

  position: absolute;
  z-index: 0;
  background-color: #00CD9D;

}

/*//////////////////////////////*/

/*Step-7*/


.decade-1B{

  position: relative;
  margin-top: 0px;

}


.layout-decade-1B{

  width: 100%;
  height: 100%;

  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: absolute;
  z-index: 1;

}


.content-decade-1B{

  margin:0 auto;
  margin-top: 13em;


  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}


.timeline-p1B{

  margin-left: 0;
  margin-top: -10em;

  width: 17.5rem;
  height: 93rem;

  background-color: rgba(255,255,255,0.08);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.p1B{
 
  width: 100%;
  height: 14rem;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding-top: 2rem;
  padding:0 auto;

}


.y-1948-2{
  flex-grow: 1;
  padding-top: 6rem;
}

.y-1949{
  flex-grow: 1;
  background-color: rgba(255,255,255,0.15);
}


.all-d1B{

  position: relative;

}

.halftone-bkg2{

  position: absolute;
  z-index: 0;  
  background-image: url("img/halftone-2.jpg");
  transform: scaleY(-1);
  opacity: 0.25;

  background-color: #2bb673;

  background-blend-mode: multiply;

  width: 87.5%;
  height: 96%;

  left: 0;
  margin-top: 2rem;
  margin-left: 22rem;

}


.all-d1B .info-content-d1B{

  margin: 0 auto;
  margin-top: -11rem;

  height: 100%;
  width: 87%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}


.description-1B{

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;


}



.pic-1B{

  margin-left: 3em;
  margin-top: 6em;

  width: 130rem;
  height: 56rem;


}

.decade1B-title{

  margin-left: 0;
  margin-top: 0;
  /*margin-top: 3rem;*/ 

  background-color: black;
  /*width: 110rem;*/

}

.decade1B-title h2{

  padding-left: 0.5em;

}

.decade1B-description-txt{
  margin-top: 3em;
  width: 102%;
}


.decade1B-description-txt p{

  margin-left: -0.5em;  
  font-size: 2.35rem;
  font-weight: 300;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  background-color: black;


}


/*//////////////////////////////*/

/*Step-8*/

.transition-1B{

  position: relative;
  margin-top: 0px;

}

.layout-transition-1B{

  width: 100%;
  height: 100%;
  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}

.content-transition-1B{

  margin:0 auto;
  margin-top: 2em;


  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}


.timeline-t1B{

  margin-left: 0em;
  margin-top: 0em;

  width: 75%;
  height: 94rem;

  background-color: rgba(255,255,255,0.15);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.all-d-t1B{

  position: relative;

}



.info-content-t-1B{

  margin: 0 auto;
  margin-top: 5em;

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.transition-3-txt{

  margin:0 auto;
  margin-top: 0.5em;
  /*margin-left: -2.5em;*/

  width: 100%;
  height: 95%;

}

.transition-3-txt li{
  text-align: left;
}


.transition-3-txt p{

  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.8;
  padding-top: 0.6em;
  padding-bottom: 0.2em;

}


.animate-bkg-slide8{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

}



#box-11{
  align-self: flex-start;

  width: 100%;
  height: 0%;

  margin-top: 0em;
  margin-left: 1rem;

  position: absolute;
  z-index: 0;

  background-color: #00CD9D;

}

#box-12{

  align-self: flex-end;

  width: 100%;
  height: 0%;

  margin-top: 53em;
  margin-left: 4rem;

  position: absolute;
  z-index: 0;
  background-color: #0095da;

}



/*//////////////////////////////*/

/*Step-9*/


.decade-1C{

  position: relative;
  margin-top: 0px;

}


.decade-1C .container{

  width: 100%;
  height: 100%;

  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  position: absolute;
  z-index: 1;

}

.discography-decade-1{

  margin-left: 22rem; 
  margin-top: 5rem;

  width: 88%;
  height: 95%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.discography{

  /*margin: 0 auto;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -25rem;


  width: 119%;
  height: 40rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.album{

  height: 40rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 3em;

}

.A-1{
  flex-grow: 1;
  margin-left: 0;
}

.A-2{
  flex-grow: 1;
}

.A-3{
  flex-grow: 1;
}

.A-4{
  flex-grow: 1;
}

.A-5{
  flex-grow: 1;
  margin-right: 0;
}


.album2{

  height: 40rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 3em;

}



.A-6{
  flex-grow: 1;
  margin-left: 0;
}

.A-7{
  flex-grow: 1;
}

.A-8{
  flex-grow: 1;
}

.A-9{
  flex-grow: 1;
}

.A-10{
  flex-grow: 1;
  margin-right: 0;
}



.layout-decade-1C{

  width: 100%;
  height: 100%;

  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: absolute;
  z-index: 1;

}


.content-decade-1C{

  margin:0 auto;
  margin-top: 13em;


  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}


.timeline-p1C{

  margin-left: 0;
  margin-top: -10em;

  width: 17.5rem;
  height: 93rem;

  background-color: rgba(255,255,255,0.08);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.p1C{
 
  width: 100%;
  height: 14rem;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding-top: 2rem;
  padding:0 auto;

}


.y-1950{
  flex-grow: 1;
  padding-top: 4rem;
  background-color: rgba(255,255,255,0.15);
}

.y-1951{
  flex-grow: 1;
}

.y-1952{
  flex-grow: 1;
  background-color: rgba(255,255,255,0.15);
}

.y-1953{
  flex-grow: 1;
}

.y-1954{
  flex-grow: 1;
  background-color: rgba(255,255,255,0.15);

}

.all-d1C{

  position: relative;

}


.info-content-d1C{

  margin: 0 auto;
  /*margin-left: 8em;*/
  margin-top: -4rem;

  height: 80%;
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: center;

}



.description-1C{

  width: 95%;
  margin-top: 15rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;


}



.decade1C-title{

  margin-left: 0;
  margin-top: 0;
  /*margin-top: 3rem;*/ 

  background-color: black;
  /*width: 110rem;*/

}

.decade1C-title h2{

  padding-left: 0.5em;

}

.decade1C-description-txt{
  margin-top: 3em;
  width: 101%;
}


.decade1C-description-txt p{

  margin-left: -0.5em;  
  font-size: 2.6rem;
  font-weight: 300;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  background-color: black;


}


/*//////////////////////////////*/

/*Step-10*/


.transition-1C{

  position: relative;
  margin-top: 0px;

}

.layout-transition-1C{

  width: 100%;
  height: 100%;
  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}

.content-transition-1C{

  margin:0 auto;
  margin-top: 2em;


  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}


.timeline-t1C{

  margin-left: 0em;
  margin-top: 0em;

  width: 75%;
  height: 94rem;

  background-color: rgba(255,255,255,0.15);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.all-d-t1C{

  position: relative;

}



.info-content-t-1C{

  margin: 0 auto;
  margin-top: 9em;

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.transition-4-txt{

  margin:0 auto;
  margin-top: 0.5em;
  margin-left: -8.5em;

  width: 97%;
  height: 85%;

}


.transition-4-txt p{

  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.8;
  padding-top: 0.6em;
  padding-bottom: 0.2em;

}

.animate-bkg-slide10{

  display: flex;
  flex-direction: row;
  /*justify-content: flex-start;*/

  width: 100%;

}



#box-13{

  align-self: flex-start;

  width: 0%;
  height: 101.3%;

  margin-top: 4.5em;
  margin-left: -2.5rem;

  position: absolute;
  z-index: 0;

  background-color: #0095da;

}

#box-14{

  align-self: flex-end;

  width: 0%;
  height: 101.3%;

  margin-top: 56.2em;
  margin-left: 135rem;

  position: absolute;
  z-index: 0;
  background-color: #f0533a;

}

/*//////////////////////////////*/

/*Step-11*/


.decade-2{

  position: relative;
  margin-top: 0px;

}


.layout-decade-2{

  width: 100%;
  height: 100%;

  margin-top: -10px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  z-index: 1;

}

.content-decade-2{

  margin:0 auto;
  margin-top: 6rem;

  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;


}

.decade-2-title{

  margin:0 auto;
  height: 100%;
  width: 70%;

}


.decade-2-title h2{

  text-align: center;
  padding-left: 2%;
  padding-right: 2%;

}

.decade-2-title h3{

  text-align: center;

}


.bkg-animate-step11{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#box-15{

  width: 21.25%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: -2.25%;

  position: absolute;
  z-index: 0;

  background-color: #f0533a;

}

#box-16{

  width: 50%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: 21.5%;

  position: absolute;
  z-index: 0;
  background-color: #f88f42;
}


#box-17{

  width: 25%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: 74%;

  position: absolute;
  z-index: 0;

  background-color: #f0533a;

}


/*//////////////////////////////*/

/*Step-12*/


.decade-2A{

  position: relative;
  margin-top: 0px;

}


.layout-decade-2A{

  width: 100%;
  height: 100%;

  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: absolute;
  z-index: 1;

}


.content-decade-2A{

  margin:0 auto;
  margin-top: 13em;


  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}


.timeline-p2A{

  margin-left: 0;
  margin-top: -10em;

  width: 17.5rem;
  height: 93rem;

  background-color: rgba(248,143,68,0.08);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.p2A{
 
  width: 100%;
  height: 14rem;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding-top: 2rem;
  padding:0 auto;

}


.y-1955{
  flex-grow: 1;
  padding-top: 4rem;
}

.y-1956{
  flex-grow: 1;
  background-color: rgba(239,68,57,0.15);
}

.y-1957{
  flex-grow: 1;
  padding-top: 4rem;
}

.y-1958{
  flex-grow: 1;
  background-color: rgba(239,68,57,0.15);
}


.all-d2A{

  position: relative;

}

.halftone-bkg3{

  position: absolute;
  z-index: 0;  
  background-image: url("img/halftone-2.jpg");
  transform: scaleY(-1);
  opacity: 0.25;

  background-color: #f78f44;

  background-blend-mode: multiply;

  width: 87.5%;
  height: 96%;

  left: 0;
  margin-top: 2rem;
  margin-left: 22rem;

}


.info-content-d2A{

  margin: 0 auto;
  margin-top: -11rem;
  /*margin-right: 2rem;*/

  height: 100%;
  width: 82%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}


.description-2A{

  width: 100%;
  margin-left: -3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;


}



.pic-2A{

  margin-left: 3em;
  margin-top: 6em;

  width: 130rem;
  height: 56rem;


}

.decade2A-title{

  margin-left: 0;
  margin-top: 0;
  /*margin-top: 3rem;*/ 

  background-color: black;
  /*width: 110rem;*/

}

.decade2A-title h2{

  padding-left: 0.5em;

}

.decade2A-description-txt{
  margin-top: 3em;
  width: 102%;
}


.decade2A-description-txt p{

  margin-left: -0.5em;  
  font-size: 2.35rem;
  font-weight: 300;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
  background-color: black;


}

/*//////////////////////////////*/

/*Step-13*/


.transition-2A{

  position: relative;
  margin-top: 0px;

}

.layout-transition-2A{

  width: 100%;
  height: 100%;
  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}

.content-transition-2A{

  margin:0 auto;
  margin-top: 2em;


  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}


.timeline-t2A{

  margin-left: 0em;
  margin-top: 0em;

  width: 75%;
  height: 94rem;

  background-color: rgba(239,68,57,0.15);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.all-d-t2A{

  position: relative;

}



.info-content-t-2A{

  margin: 0 auto;
  margin-top: 5em;

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.transition-5-txt{

  margin:0 auto;
  margin-top: 0.5em;
  /*margin-left: -2.5em;*/

  width: 100%;
  height: 95%;

}

.transition-5-txt li{
  text-align: left;
}


.transition-5-txt p{

  font-weight: 300;
  font-size: 2.025em;
  line-height: 1.8;
  padding-top: 0.6em;
  padding-bottom: 0.2em;

}


.animate-bkg-slide13{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

}

#box-18{
  align-self: flex-start;

  width: 100%;
  height: 0%;

  margin-top: 0em;
  margin-left: 1rem;

  position: absolute;
  z-index: 0;

  background-color: #f0533a;

}

#box-19{

  align-self: flex-end;

  width: 100%;
  height: 0%;

  margin-top: 53em;
  margin-left: 4rem;

  position: absolute;
  z-index: 0;
  background-color: #f88f42;

}


/*//////////////////////////////*/

/*Step-14*/

.decade-2B-video{

  position: relative;
  margin-top: 0px;

}




video {

  position: fixed;
  top: 55%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);

}


.layout-decade-2B{

  margin:0 auto;

  width: 36%;
  height: 75%;
  margin-top: 11em;
  margin-left: 4em;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}



.description-2B{
  margin:0 auto;
  width: 80%
  height 30%;
  background: rgba(0,0,0,0.6);
  border: 0.25px solid rgba(255,255,255, 0.2);

}


.decade2B-title{

  margin-bottom: 1em;
  background-color: rgba(0,0,0,0.3);

}



.decade2B-title h2{

  padding-left: 0.5em;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1.3;

}


.decade2B-description-txt{
  width: 100%;
  margin-top: 1em;
}

.decade2B-description-txt p{

  margin-left: -0.5em;  
  font-size: 2.5rem;
  font-weight: 400;

  padding-left: 4rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  /*background-color: rgba(0,0,0,0.3);*/


}


/*//////////////////////////////*/

/*Step-15*/



.transition-2B{

  position: relative;
  margin-top: 0px;

}

.layout-transition-2B{

  width: 100%;
  height: 100%;
  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}

.content-transition-2B{

  margin:0 auto;
  margin-top: 4em;


  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}


.timeline-t2B{

  margin-left: 0em;
  margin-top: 0em;

  width: 75%;
  height: 100%;

  background-color: rgba(239,68,57,0.15);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.all-d-t2B{

  position: relative;

}



.info-content-t-2B{

  margin: 0 auto;
  /*margin-top: 5em;*/

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.transition-6-txt{

  margin:0 auto;
  margin-top: 6.9em;
  /*margin-left: -2.5em;*/

  width: 100%;
  height: 50%;

}

.transition-6-txt p{

  font-weight: 100;
  font-size: 3.2em;
  line-height: 1.6;
  padding-top: 0em;
  padding-bottom: 0.2em;

}


.transition-6-quote{

  margin:0 auto;
  width: 100%;


}


.transition-6-quote p{
  font-size: 1.65em;
}


.animate-bkg-slide13{

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 100%;

}


#box-20{
  align-self: flex-start;

  width: 100%;
  height: 0%;

  margin-top: 0em;
  margin-left: 1rem;

  position: absolute;
  z-index: 0;

  background-color: #f88042;

  /*background-color: #f0533a;*/

}

#box-21{

  align-self: flex-start;

  width: 100%;
  height: 0%;

  margin-top: 50em;
  margin-left: 1.25rem;

  position: absolute;
  z-index: 0;
  /*background-color: #f88f42;*/
  background-color: #f0533a;

}


/*//////////////////////////////*/

/*Step-16*/

.decade-2C{

  position: relative;
  margin-top: 0px;

}


.decade-2C .container{

  width: 100%;
  height: 100%;

  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  position: absolute;
  z-index: 1;

}

.discography-decade-2{

  margin-left: 22rem; 
  margin-top: 5rem;

  width: 88%;
  height: 95%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(248,143,68,0.08);
}

.discography-2{

  /*margin: 0 auto;*/
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: -25rem;


  width: 119%;
  height: 40rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.album{

  height: 40rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 3em;

}

.B-1{
  flex-grow: 1;
  margin-left: 0;
}

.B-2{
  flex-grow: 1;
}

.B-3{
  flex-grow: 1;
}

.B-4{
  flex-grow: 1;
}

.B-5{
  flex-grow: 1;
  margin-right: 0;
}


.album2{

  height: 40rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-top: 3em;

}



.B-6{
  flex-grow: 1;
  margin-left: 0;
}

.B-7{
  flex-grow: 1;
}

.B-8{
  flex-grow: 1;
}

.B-9{
  flex-grow: 1;
}

.B-10{
  flex-grow: 1;
  margin-right: 0;
}


.layout-decade-2C{

  width: 100%;
  height: 100%;

  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  position: absolute;
  z-index: 1;

}


.content-decade-2C{

  margin:0 auto;
  margin-top: 13em;


  width: 100%;
  height: 90%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

}


.timeline-p2C{

  margin-left: 0;
  margin-top: -10em;

  width: 17.5rem;
  height: 93rem;

  background-color: rgba(248,143,68,0.08);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}


.p2C{
 
  width: 100%;
  height: 14rem;

  display: flex;
  flex-direction: column;

  text-align: center;
  padding-top: 2rem;
  padding:0 auto;

}


.y-1959{
  flex-grow: 1;
  padding-top: 4rem;
  /*background-color: rgba(255,255,255,0.15);*/
}

.y-1960{
  flex-grow: 1;
  background-color: rgba(239,68,57,0.15);
}

.y-1961{
  flex-grow: 1;
}

.y-1962{
  flex-grow: 1;
  background-color: rgba(239,68,57,0.15);
}

.y-1963{
  flex-grow: 1;
  /*background-color: rgba(255,255,255,0.15);*/

}

.all-d2C{

  position: relative;

}


.info-content-d2C{

  margin: 0 auto;
  /*margin-left: 8em;*/
  margin-top: -4rem;

  height: 80%;
  width: 90%;

  display: flex;
  flex-direction: row;
  justify-content: center;

}



.description-2C{

  width: 95%;
  margin-top: 15rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;


}



.decade2C-description-txt{
  margin-top: -5em;
  width: 101%;
}


.decade2C-description-txt p{

  margin-left: -0.5em; 
  margin-bottom: 1em; 
  font-size: 2.8rem;
  font-weight: 300;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: black;


}


/*//////////////////////////////*/

/*Step-17*/


.transition-2C{

  position: relative;
  margin-top: 0px;

}

.layout-transition-2C{

  width: 100%;
  height: 100%;
  margin-top: 0px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;


  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  z-index: 1;

}

.content-transition-2C{

  margin:0 auto;
  margin-top: 2em;


  width: 100%;
  height: 85%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;


}


.timeline-t2C{

  margin-left: 0em;
  margin-top: 0em;

  width: 75%;
  height: 94rem;

  background-color: rgba(248,143,68,0.08);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

.all-d-t2C{

  position: relative;

}



.info-content-t-2C{

  margin: 0 auto;
  margin-top: 9em;

  height: 95%;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;


}

.transition-7-txt{

  margin:0 auto;
  margin-top: 1em;
  margin-left: -4.5em;

  width: 85%;
  height: 85%;

}


.transition-7-txt p{

  font-weight: 100;
  font-size: 2.5em;
  line-height: 1.8;
  padding-top: 0.6em;
  padding-bottom: 0.2em;

}

.animate-bkg-slide17{

  display: flex;
  flex-direction: row;
  /*justify-content: flex-start;*/

  margin-top: -2.5em;

  width: 100%;

}



#box-22{

  align-self: flex-start;

  width: 0%;
  height: 101.3%;

  margin-top: 4.5em;
  margin-left: -2.5rem;

  position: absolute;
  z-index: 0;

  background-color: #f88042;

}

#box-23{

  align-self: flex-end;

  width: 0%;
  height: 101.3%;

  margin-top: 56.2em;
  margin-left: 135rem;

  position: absolute;
  z-index: 0;
  background-color: #1c75bc;

}

/*//////////////////////////////*/

/*Step-18*/


.decade-3{

  position: relative;
  margin-top: 0px;

}


.layout-decade-3{

  width: 100%;
  height: 100%;

  margin-top: -10px;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  z-index: 1;

}

.content-decade-3{

  margin:0 auto;
  margin-top: 6rem;

  width: 80%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;


}

.decade-3-title{

  margin:0 auto;
  height: 100%;
  width: 70%;

}


.decade-3-title h2{

  text-align: center;
  padding-left: 2%;
  padding-right: 2%;

}

.decade-3-title h3{

  text-align: center;

}


.bkg-animate-step18{

  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#box-24{

  width: 21.25%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: -2.25%;

  position: absolute;
  z-index: 0;

  background-color: #1c75bc;

}

#box-25{

  width: 50%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: 21.5%;

  position: absolute;
  z-index: 0;
  background-color: #00cd6d;
}


#box-26{

  width: 25%;
  height: 86%;
  margin-top: 7.5rem;
  margin-left: 74%;

  position: absolute;
  z-index: 0;

  background-color: #1c75bc;

}












/*making it responsive*/

@media only screen and (max-width: 667px) and (orientation: landscape) {
/*anything smaller than 480 (our breakpoint), then apply the following styles*/

  
  /*Step-1*/

  .info-container{

    margin-left: 10%;

  }

  .info-container{

    margin-top: 7%;

  }


  .boxes-left{

    width: 35%;

  }

  .boxes-right{

    width: 67%;
    margin-top: 17em;

  }

  .description-1{

    margin-top: 4em;

  }


  /*//////////////////////////////*/

  /*Step-2*/


  .quote-1{
    margin-left: 0;
  }


  /*//////////////////////////////*/

  /*Step-3*/

  .content-intro-timeline{

    margin-top: 10rem;

  }



  .headline-2{

    margin-left: 0px;
    width: 140rem;
  }

  .timeline-chart{

    margin-left: 0px;
    width: 140rem;

  }

  .dates{

    margin-left: 0px;
    width: 140rem;

  }

  .description-timeline{

    margin-left: 0px;
    width: 140rem;

  }


    /*//////////////////////////////*/

  /*Step-4*/

  .content-decade-1{

    height: 100%;


  }




  /*//////////////////////////////*/

  /*Step-5*/

  .decade-1A{

    margin-top: 2em;


  }

  .layout-decade-1A{
    margin-top: -10rem;
  }

  .content-decade-1A{

  margin-top: 17em;
  height: 100%;

}



  .timeline-p1A, .all-d1A{

    margin-left: 5rem;

  }


  .timeline-p1A{

    width: 140%;
    height: 100%;
    margin-top: -12rem;

  }


  .info-content-d1A{

    margin-left: -10rem;
    margin-top: -7em;
    width: 110%;

  }

  .pic-1A{

    width: 125rem;

  }

  .decade1A-title{

    width: 125rem;

  }

  .description-1A{
    width: 70%;
  }



  .description-1A p{

    font-size: 2.3rem;
    margin-left: -2rem;

  }


  /*//////////////////////////////*/

  /*Step-6*/

  .layout-transition-1A{

    width: 100%;
    height: 100%;
    margin-top: 4em;

  }


  .content-transition-1A{

    margin-left: 2em;
    margin-top: 0em;
    height: 80%;
    width: 100%;

  }


  .timeline-t1A{

    width: 12rem;
    height: 92rem;
    margin-top: 0rem;
    margin-left: 2rem;

  }


  .all-d-t1A{

    margin-left: 1em;
    width: 90%;

  }


  .t-illustration img{
 
  width: 33rem;

  }


  .transition-2-txt{

    width: 90%;
    margin-left: 3em;
    margin-top: 1.5em;

  }

  .transition-2-txt p{

  font-weight: 300;
  font-size: 2.2em;
  line-height: 1.7;


  }


  /*//////////////////////////////*/

  /*Step-7*/


  .decade-1B .container{

    margin-top: 4rem;
    height: 90%;

  }

  .halftone-bkg2{
    height: 94%;

  }


  .layout-decade-1B{

    width: 100%;
    height: 100%;
    margin-top: 6em;

  }

  .content-decade-1B{

    margin-top: 18rem;

  }


  .timeline-p1B{

    width: 12.65rem;
    height: 90rem;
    margin-top: -18rem;
    margin-left: 5rem;

  }


  .all-d1B{

    width: 90%;
    margin-top: -7.5em;

  }


  .pic-1B{

    margin-top: 10em;

  }


  /*//////////////////////////////*/

  /*Step-8*/

  .transition-1B{

    margin-top: 9rem;

  }

  .transition-1B .container{

    width: 100%;
    height: 100%;
    margin-top: -2em;

  }



  .layout-transition-1B{

    width: 100%;
    height: 110%;
    margin-top: -2em;

  }

  .content-transition-1B{

    margin-left: 4em;
    
  }


  .timeline-t1B{

    width: 12rem;
    height: 92rem;
    margin-top: 0rem;
    margin-left: -1.5rem;

  }


  .animate-bkg-slide8{

    margin-left: 1em;
    width: 70%;
  
  }


  #box-12{
    margin-top: 52em;
    margin-left: 30em;
    width: 96.5%;

  }


  .content-t-1B{

    margin-top: -3rem;
    width: 80%;

  }



  /*//////////////////////////////*/

  /*Step-9*/


  .decade-1C{

    margin-top: 10rem;
    

  }

  .decade-1C .container{

    width: 100%;
    height: 100%;
    /*background-color: rgba(255,255,255,0.08);*/

  }


  .discography-decade-1{

    margin-left: 46rem; 
    margin-top: -1.5em;
    width: 75%;

  }


  .layout-decade-1C{

    width: 100%;
    height: 110%;
    background-color: rgba(255,255,255,0.08);

  }


  .timeline-p1C{

    width: 12.65rem;
    height: 90%;
    margin-top: -13em;
    margin-left: 5rem;

  }


  /*//////////////////////////////*/

  /*Step-10*/


  .transition-1C .container{

    width: 100%;
    height: 100%;
    margin-top: 6.5rem;
    background-color: rgba(255,255,255,0.08);

  }


  .content-transition-1C{

    margin-left: 4em;
    margin-top: 6em;
    height: 93.5%;


  }


  .timeline-t1C{

    width: 12rem;
    height: 90rem;
    /*margin-top: 6.5rem;*/
    margin-left: -1.5rem;

  }


  .animate-bkg-slide10{

    margin-left: 3em;
    /*width: 70%;*/

  }

  #box-13{
    margin-top: 0em;
    height: 99.75%;

  }

  #box-14{
    margin-top: 56em;
    margin-left: 92em;
    height: 99.75%;

  }

  .info-content-t-1C{

    width: 82%;
    margin-left: 12em;
    margin-top: 7em;
  }


  /*//////////////////////////////*/

  /*Step-11*/


  .decade-2{
    margin-top: 6rem;

  }

  .decade-2 .container{
    margin-top: 0rem;
    height: 100%;
    background-color: rgba(255,255,255,0.08);
  }

  .bkg-animate-step11{
    margin-top: -7rem;
  }

  #box-15{
    height: 93.5%;
  }

  #box-16{
    height: 93.5%;
  }

  #box-17{
    height: 93.5%;
  }


  /*//////////////////////////////*/

  /*Step-12*/

  .decade-2A{
    margin-top: 3rem;
  }

  .timeline-p2A{

    width: 12.65rem;
    margin-left: 5rem;
  }



  /*//////////////////////////////*/

  /*Step-13*/

  .transition-2A{

    margin-top: 9rem;

  }


  .transition-2A .container{

    width: 100%;
    height: 100%;
    margin-top: -2em;

  }


  .layout-transition-2A{

    width: 100%;
    height: 110%;
    margin-top: -2em;

  }


  .content-transition-2A{

    margin-left: 4em;
    
  }


  .timeline-t2A{

    width: 12rem;
    height: 92rem;
    margin-top: 0rem;
    margin-left: -1.5rem;

  }


  .content-t-2A{

    margin-top: -3rem;
    width: 80%;

  }


  /*//////////////////////////////*/

  /*Step-15*/

  .transition-2B{

    margin-top: 9rem;

  }


  .transition-2B .container{

    width: 100%;
    height: 100%;
    margin-top: -2em;

  }


  .layout-transition-2B{

    width: 100%;
    height: 110%;
    margin-top: -2em;

  }


  .content-transition-2B{

    margin-left: 4em;
    
  }


  .timeline-t2B{

    width: 12rem;
    height: 92rem;
    margin-top: 0rem;
    margin-left: -1.5rem;

  }


  .content-t-2B{

    margin-top: -3rem;
    width: 80%;

  }

  .transition-6-txt{

    height: 50%;
  }

  /*//////////////////////////////*/

  /*Step-16*/



  .decade-2C{

    margin-top: 10rem;
    

  }

  .decade-2C .container{

    width: 100%;
    height: 100%;
    /*background-color: rgba(255,255,255,0.08);*/

  }


  .discography-decade-2{

    margin-left: 46rem; 
    margin-top: -1.5em;
    width: 75%;

  }


  .layout-decade-2C{

    width: 100%;
    height: 110%;
    background-color: rgba(255,255,255,0.08);

  }


  .timeline-p2C{

    width: 12.65rem;
    height: 90%;
    margin-top: -13em;
    margin-left: 5rem;

  }

  .decade2C-description-txt{
    margin-top: -12em;

  }


}


@media only screen 
and (min-width : 884px) 
and (max-width : 1024px)
and (min-height: 560px) 
and (max-height: 768px) 
and (orientation : landscape) { 


/*//////////////////////////////*/

/*Step-1*/

.intro-content {
  margin-top: 7rem;
}

.intro-content {
  height: 95%;
}

.introMiles {
  width: 30em;
}

.info-container h1 {
  font-size: 15em;
  margin-left: -1.5rem;
}

.description-1 {
  width: 125%;
  height: 105%;
}

.description-1 p{
  font-size: 2.4em;
  line-height: 1.6;
}



/*Step-2*/

  #box-4{
    height: 92%;
  }

  .info-content-t-1 {
    margin-top: 3em;
  }


/*Step-3*/

  .timeline, .decade-1, .decade-1B, .transition-1B, .decade-1C, .transition-1C, .decade-2A, .transition-2A, .decade-2C, .dtransition-2C, .decade-3{
    margin-top: 7em;
  }
  

  .layout-decade-1, .layout-decade-1A, .layout-transition-1A, .layout-decade-1B, .layout-decade-1C, .layout-transition-1C, .layout-decade-2, .layout-transition-2A, .layout-transition-2C, .layout-decade-3{
    height: 100%;
  }

  .content-intro-timeline, .content-decade-1, .content-decade-2{
    margin-top: -9.5rem;

  }

  #box-5 {
    margin-top: 7rem;
  }


  /*Step-4*/


  .bkg-animate-step4 {
    margin-top: -5em;
  }

  /*Step-5*/

  .decade-1A, .transition-1A, .decade-1B {
    margin-top: 5em;
  }

  .halftone-bkg {
    height: 97%;
    margin-top: -3rem;
    margin-left: 19rem;
  }

  .content-decade-1A {

    margin-top: 9em;

  }

  .info-content-d1A {
    margin-top: -10rem;
    height: 100%;
  }

  .description-1A p {
    font-size: 2.2rem;
  }

  /*Step-6*/

  .content-transition-1A{
    margin-top: 0em;
    height: 100%;
  }


  .timeline-p1A, .timeline-t1A{
    height: 93rem;
    width: 9em;
  }

  #box-10 {
    margin-top: 51em;
  }



  /*Step-7*/

  .content-decade-1B {
    margin-top: 10em;
  }

  .halftone-bkg2{
    margin-top: -3rem;
    margin-left: 19rem;
  }

  .timeline-p1B {
    width: 9em;
  }

  .all-d1B .info-content-d1B {
      margin-left: 5em;
  }

  /*Step-8*/

  .content-transition-1B, .content-transition-2A {
    margin-top: 0em;
    height: 90%;

  }

  .layout-transition-1B {
    height: 95%;
  }

  .info-content-t-1B {
    margin-top: 0em;
  }


  .transition-3-txt {
      
    margin-top: 3em;
    height: 85%;
  }


  #box-12 { 
    margin-left: 1.5em;
    margin-top: 51.25em;
  }


  .timeline-t1B, .timeline-t2A, .timeline-t2B{

    height: 91rem;
    width: 9em;

  }


  /*Step-9*/

  .content-decade-1C {
    margin-top: 10em;

  }

  .discography-decade-1 {
    margin-top: -0.125em;
    margin-left: 18rem;
    width: 100%;
    height: 100%;
  }

  .discography{

    width: 90%;
    margin-left: 0rem;

  }


  .timeline-p1C {

    height: 91rem;
    width: 9em;

  }

  .info-content-d1C {
    margin-top: -2rem;
  }

  /*Step-10*/

  .content-transition-1C{
    height: 100%;
  }

  .timeline-t1C{

    height: 93.5rem;
    width: 9em;
    margin-top: -2em;

  }

  .animate-bkg-slide10{
    margin-top: -6.5em;
    margin-left: 2em;
  }

  #box-14 {
    margin-top: 65em;
    margin-left: 141rem;
  }

  .transition-4-txt {
    margin-left: -5.5em;
  }

  .transition-4-txt p {
    font-size: 2.4em;
  }

  /*Step-11*/

  .decade-2{
    margin-top: 7.75em;
  }

  .content-decade-2{
    height: 100%;
    margin-top: 0em;
  }

  .bkg-animate-step11 {
    margin-top: -7.25em;
    height: 100%;
  }

  #box-15, #box-16, #box-17 {
    height: 100%;
  }

  .decade-2-title {
    width: 59%;
  }


  /*Step-12*/

  .layout-decade-2A{
    height: 95%;
  }

  .halftone-bkg3 {
    margin-top: -3rem;
    margin-left: 19rem;
    height: 95%;
  }



  .content-decade-2A{
    margin-top: 7em;
    height: 90%;
  }

  .info-content-d2A {
    margin-top: -7rem;
  }



  .timeline-p2A {

    height: 91rem;
    width: 9em;
    margin-top: -7em;

  }

  /*Step-13*/

  .info-content-t-2A {
    margin-top: 0em;
  }

  .transition-5-txt{
    margin-top: 2em;
    height: 90%;
  }

  .transition-5-txt p{
    font-size: 2.15em;
  }

  /*Step-14*/

  .decade-2B-video{
    margin-top: 1em;
  }

  .video-test{
    height: 100%;
  }

  /*Step-15*/

  .layout-transition-2B{
    margin-top: 5em;
    height: 100%;

  }

  .content-transition-2B{
    height: 100%;
    margin-top: 0em;
  } 

  /*Step-16*/

  .layout-decade-2C{
    height: 96%;
  }

  .content-decade-2C{
    height: 92%;
  }


  .discography-decade-2 {
    margin-top: -0.125em;
    margin-left: 18rem;
    width: 100%;
    height: 96%;


  }


  .timeline-p2C {

    height: 91.5rem;
    width: 9em;
    margin-top: -13em;
  }

  .discography-2 {

    width: 90%;
    margin-left: 0rem;

  }

  /*Step-17*/

  .content-transition-2C {
    margin-top: 0em;
  }

  .timeline-t2C {
    height: 91.5rem;
    width: 9em;
  }

  .animate-bkg-slide17{

    margin-top: -4.5em;
    margin-left: 2em;

  }

  #box-22, #box-23 {
    height: 112%;
  }

  #box-23{
    margin-top: 61.5em;
    margin-left: 142rem;
  }

  .transition-7-txt {
    margin-left: 0.25em;
    width: 85%;
  }

  .transition-7-txt p{
    font-size: 2.7em;
  }

  /*Step-18*/

  .decade-3{
    margin-top: 7.65em;
  }

  .content-decade-3 {
    height: 100%;
    margin-top: 0em;
  }

  .bkg-animate-step18 {

    margin-top: -7em;
  }

  #box-24, #box-25, #box-26 {
    height: 94.5%;
  }










}






